Source: zapata-algo-lockfree
Maintainer: naazgull <n@zgul>
Section: Development
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: zapata-algo-lockfree
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmagic1, zapata-base (>=0.9)
Description: zapata-algo-lockfree
 Provides zapata-algo-lockfree
