Source: zapata-postgresql
Maintainer: n@zgul <n@zgul.me>
Section: Development
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: zapata-postgresql
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmagic1, openssl, zapata-base (>=0.9), zapata-json (>=0.9), zapata-events (>=0.9), libpqxx-dev
Description: RESTful API's C++ toolkit named after Emiliano Zapata - PostgreSQL management utilities
 Provides a set of C++ tool libraries for the development of 
 RESTful API's. This library offers a set of functions and methods
 to access and manage PostgreSQL collections.

Package: zapata-postgresql-dbg
Architecture: any
Section: debug
Priority: extra
Depends: zapata-postgresql (= ${binary:Version})
Description: Debug symbols for RESTful API's C++ toolkit named after Emiliano Zapata - PostgreSQL management utilities
