Source: zapata-json
Maintainer: n@zgul <naazgull@dfz.pt>
Section: Development
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), libssl-dev

Package: zapata-json
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmagic1, openssl, zapata-base (>=0.9)
Description: RESTful API's C++ toolkit named after Emiliano Zapata - JSON parser and reflection classes
 Provides a set of C++ tool libraries for the development of 
 RESTful API's. This package provides a JSON parser and management
 classes.
