#!/usr/bin/make -f

override_dh_strip:
	dh_strip --dbg-package=zapata-json-dbg

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_configure:
	dh_auto_configure -- --libdir=/usr/lib --libexecdir=/usr/lib

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_install:
	dh_install --sourcedir=debian/tmp --list-missing

%:
	dh $@
