
BasedOnStyle: Mozilla
ColumnLimit: 100
Standard: Cpp11
IndentWidth: 4
TabWidth: 4
SortIncludes: false
BinPackArguments: false
BinPackParameters: false

Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Custom
IncludeBlocks: Regroup
FixNamespaceComments: true
BraceWrapping:
    AfterClass: false
    AfterControlStatement: false
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: false
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: false
    BeforeCatch: true
    BeforeElse: true
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLambdasOnASingleLine: true
AllowShortLoopsOnASingleLine: true