
BasedOnStyle: LLVM
ColumnLimit: 120
Standard: Cpp11
UseTab: Always
IndentWidth: 8
TabWidth: 8
SortIncludes: false
BinPackArguments: false
BinPackParameters: false

Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left