*.o
*.lo
*.la
*.so
*.so.*
*.deb
*.tar.gz
autom4te.cache
Makefile.in
Makefile
libtool
config.log
config.status
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
*.deps
*.dirstamp
*/**/Makefile
*/**/Makefile.in
*/**/.libs/
*/**/config.h.in~
*/**/config.h.in
*/**/stamp-h1
deps/
*/zapata-*.tar.gz
rest/src/rest/zapata-rest-daemon
parsers/json/src/json/zat
examples/src/clients/zapata-client
rest/src/rest/zapata-api
.emacs.desktop*
rest/src/rest/zclient
rest/src/rest/zapi
rest/src/rest/zcli
base/src/base/zoc
protocols/zmq/src/zmq/zcert
upstream
packages
Makefile
rest/src/rest/zpt
base/src/base/zinit
base/src/base/zlf
gen/src/gen/zgen
protocols/zmq/src/zmq/zmut
parsers/json/src/json/zinit
protocols/zmq/src/zmq/zmut
rest/src/rest/z0mqc
parsers/json/src/json/zjson
*/**/docker-data
rest/src/rest/zsysd
*/**/__pycache__/
storage/mysql/src/mysql/zblreader
docker/create_packages
events/src/events/zsysd
events/src/events/zpt
parsers/uri/src/uri/zuri
parsers/http/src/http/zhttps
io/socket/src/socket/zsock*
algorithms/lockfree/src/lockfree/zlf
storage/mysqlx/src/mysqlx/zmysqlx
common/base/include/zapata/base/config.h
common/base/m4/libtool.m4
common/base/src/base/zoc
common/events/include/zapata/events/config.h
common/events/m4/libtool.m4
common/events/src/events/zevents
common/globals/include/zapata/globals/config.h
common/globals/m4/libtool.m4
common/globals/src/globals/zglobals
common/graph/include/zapata/graph/config.h
common/graph/m4/libtool.m4
common/graph/src/graph/zgraph
common/lockfree/include/zapata/lockfree/config.h
common/lockfree/m4/libtool.m4
common/lockfree/src/lockfree/zlf
engines/pipeline/include/zapata/pipeline/config.h
engines/pipeline/m4/libtool.m4
engines/rest/include/zapata/rest/config.h
engines/rest/m4/libtool.m4
engines/startup/include/zapata/startup/config.h
engines/startup/m4/libtool.m4
io/socket/include/zapata/net/socket/config.h
io/socket/m4/libtool.m4
io/socket/src/socket/zsockc
io/socket/src/socket/zsocks
io/stream/include/zapata/streams/config.h
io/stream/m4/libtool.m4
io/stream/src/streams/zstreams
network/http/include/zapata/net/transport/http/config.h
network/http/m4/libtool.m4
network/transport/include/zapata/transport/config.h
network/transport/m4/libtool.m4
network/transport/src/transport/ztransport
network/websocket/include/zapata/net/transport/config.h
network/websocket/m4/libtool.m4
parsers/http/include/zapata/http/config.h
parsers/http/m4/libtool.m4
parsers/json/include/zapata/json/config.h
parsers/json/m4/libtool.m4
parsers/uri/include/zapata/uri/config.h
parsers/uri/m4/libtool.m4
storage/connector/include/zapata/connector/config.h
storage/connector/m4/libtool.m4
storage/mysqlx/include/zapata/mysqlx/config.h
storage/mysqlx/m4/libtool.m4
