*.o
*.lo
*.la
*.so
*.so.*
autom4te.cache
.sublime-project
.sublime-project.sublime-workspace
Makefile.in
Makefile
m4
libtool
config.log
config.status
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
src/zapata-rest-server/zapata-rest-daemon
*.deps
*.dirstamp
*/**/Makefile
*/**/Makefile.in
*/**/.libs/
*/**/config.h.in~
*/**/config.h.in
*/**/stamp-h1
