*.o
*.lo
*.la
*.so
*.so.*
*.deb
*.tar.gz
autom4te.cache
Makefile.in
Makefile
libtool
config.log
config.status
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
.emacs.desktop*
*.deps
*.dirstamp
*/**/Makefile
*/**/Makefile.in
*/**/.libs/
*/**/config.h.in~
*/**/config.h.in
*/**/config.h
*/**/stamp-h1
*/**/deps/
*/zapata-*.tar.gz
*/**/upstream
*/**/packages
*/**/__pycache__/
*/**/build
*/**/m4
storage/mysqlx/src/mysqlx/zmysqlx
common/base/src/base/zoc
common/events/src/events/zevents
common/globals/src/globals/zglobals
common/graph/src/graph/zgraph
common/lockfree/src/lockfree/zlf
io/socket/src/socket/zsockc
io/socket/src/socket/zsocks
io/stream/src/streams/zstreams
network/transport/src/transport/ztransport
common/events/src/events/zevents
common/globals/src/globals/zglobals
common/graph/src/graph/zgraph
common/lockfree/src/lockfree/zlf
engines/pipeline/src/pipeline/zpipeline
engines/startup/src/startup/zpt
io/socket/src/socket/zsockc
io/socket/src/socket/zsocks
io/stream/src/streams/zstreams
network/transport/src/transport/ztransport
common/globals/src/globals/zglobals
io/socket/src/socket/zsocks
io/socket/src/socket/zsockc
engines/dom/src/dom/zdom
io/pipe/src/pipe/zpipe
