export bulk_wd=$HOME/Develop/zapata

export projects=(
       base
       json
       events
       http
       mqtt
       zmq
       gen
       mongodb
       redis
       mariadb
       postgresql
       lisp
       python
       rest
)
