export bulk_wd=$HOME/Develop/zapata

export projects=(
       common/base
       common/lockfree
       common/globals
       io/stream
       io/socket
       parsers/json
       parsers/http
       parsers/uri
       common/graph
       common/events
       engines/startup
       network/transport
       network/websocket
       network/http
       network/local
       engines/pipeline
       engines/rest
       engines/dom
       storage/connector
       storage/mysqlx
       ontology/openapi
)
