export bulk_wd=$HOME/Develop/zapata

export projects=(
       common/base
       io/stream
       io/socket
       parsers/json
       parsers/http
       parsers/uri
       common/lockfree
       common/graph
       common/events
       network/transport
       engines/startup
       engines/pipeline
       network/websocket
       network/http
)

       # storage/mongodb
       # storage/redis
       # storage/mysql
       # storage/postgresql
       # storage/couchdb
       # bridges/lisp
       # bridges/python
       # engines/rest
