Source: zapata-net-websocket
Maintainer: naazgull <n@zgul>
Section: Development
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: zapata-net-websocket
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmagic1, zapata-base (>=0.9)
Description: zapata-net-websocket
 Provides zapata-net-websocket
