Source: zapata-mongodb
Maintainer: n@zgul <n@zgul.me>
Section: Development
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: zapata-mongodb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmagic1, openssl, zapata-base (>=0.9), zapata-lex-json (>=0.9)
Description: RESTful API's C++ toolkit named after Emiliano Zapata - MongoDB management utilities
 Provides a set of C++ tool libraries for the development of
 RESTful API's. This library offers a set of functions and methods
 to access and manage MongoDB collections.

Package: zapata-mongodb-dbg
Architecture: any
Section: debug
Priority: extra
Depends: zapata-mongodb (= ${binary:Version})
Description: Debug symbols for RESTful API's C++ toolkit named after Emiliano Zapata - MongoDB management utilities
