Source: zapata-oauth2
Maintainer: n@zgul <naazgull@dfz.pt>
Section: Development
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: zapata-oauth2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmagic1, openssl, zapata-base (>=0.9), zapata-json (>=0.9), zapata-http (>=0.9), zapata-events (>=0.9), zapata-zmq (>=0.9), zapata-rest(>=0.9), zapata-redis(>=0.9)
Description: RESTful API's C++ toolkit named after Emiliano Zapata - OAuth2.0 support
 Provides a set of C++ tool libraries for the development of 
 RESTful API's.
