#!/usr/bin/make -f

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=zapata-upnp-dbg

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_configure:
	dh_auto_configure -- --libdir=/usr/lib --libexecdir=/usr/lib

%:
	dh $@
